In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("SalaryData.csv")

In [3]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
x = dataset["YearsExperience"]

In [5]:
y = dataset["Salary"]

In [6]:
X = x.values.reshape(-1, 1)

In [7]:
X.shape

(30, 1)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(X_train, y_train)

LinearRegression()

In [13]:
model.coef_

array([9504.40248337])

In [14]:
model.intercept_

27005.128050689855

In [15]:
y_pred = model.predict(X_test)

In [16]:
y_pred

array([ 65973.1782325 ,  75477.58071587,  54567.89525246, 117296.95164269,
        65022.73798416, 126801.35412606,  41261.73177574, 112544.75040101,
        62171.41723915])

In [17]:
y_test

13     57081.0
16     66029.0
5      56642.0
26    116969.0
12     56957.0
29    121872.0
2      37731.0
25    105582.0
9      57189.0
Name: Salary, dtype: float64

In [18]:
from sklearn import metrics

In [19]:
metrics.mean_absolute_error(y_test, y_pred)

5468.200762747907

In [20]:
import joblib

In [21]:
joblib.dump(model, "salary_model.pk1")

['salary_model.pk1']